@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-top-left: 173, 216, 230; /* Light Sky Blue */
  --background-middle: 255, 255, 255; /* White */
  --background-bottom-right: 144, 238, 144; /* Light Seafoam Green */
}

@media (prefers-color-scheme: light) {
  :root {
    --background-top-left: 0, 0, 0; /* Dark Background Color */
    --background-middle: 0, 0, 0;
    --background-bottom-right: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-top-left)),
    rgb(var(--background-middle)),
    rgb(var(--background-bottom-right))
  );
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
